.alinear-der{
    text-align: right;
}
.alinear-cen{
    text-align: center;
}

.tabla-sumas{

}

.tabla-sumas td, .tabla-sumas th {
    border: 1px solid #ddd;
  }
  
    .my-modal > .modal-lg {
        width: 1308px;
    }
.mod-class {
    max-width: 1000px;
}

.custom-window-class > .modal-dialog,
.custom-window-class > .modal-dialog > .modal-content {
   width: 80vw;
   max-width: 80vw;
}